[Unit]
Description=Automated packet capture system.
After=network.target

[Service]
WorkingDirectory=/root/Basic-Attack-Detection/
ExecStart=sh capture.sh

[Install]
WantedBy=multi-user.target
